<% if flash[:notice] %>
    <center><div class="notice"><%= flash[:notice] %></div></center>
  <% end %>

<center><h1>GET YOUR (REAL) WEATHER</h1></center>
<br>
<center><h1>please enter your zip code:</h1></center>

<center>
<%= form_for(@forecast) do |f| %>
  <%= f.text_field :zipcode %>
  <%= f.submit "Get your Forecast!" %>
<% end %>
</center>

<div id="footer">
<footer class="footer">
  <p style="display:inline">
  <ul style="list-style-type: none; margin: 0; padding: 0">
    <li><a href="http://flatironschool.com/" target="_blank">BUILT WITH // ♥ AT THE FLATIRON SCHOOL ©2015</a></li>
    <li> <a href="https://github.com/AnnaErshova" target="_blank">ANNA ERSHOVA</a> <a href="https://github.com/AnnaErshova" target="_blank"></a>  |  <a href="https://github.com/benbrattain" target="_blank"> BEN BRATTAIN</a>  |  <a href="https://github.com/travisje" target="_blank"> TRAVIS EMMETT</a></li>
    <li><a href="https://github.com/benbrattain/Hot-Cold" target="_blank">FORK ME ON GITHUB</a></li>
  </ul>
</p>
</footer>
</div>