// Place all the styles related to the forecasts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chart_wrapper {
  height: 550px;
  width: 550px;
  float: left;
  display: inline-block;
  padding-top: 50px;
  margin-left: 50px;
}

#dashboard_wrapper {
  height: 550px;
  width: 550px;
  float: right;
  display: inline-block;
  padding-top: 50px;
  margin-right: 50px;
}