// Place all the styles related to the forecasts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
  font-family: 'Cabin', sans-serif;
}

.form {
  clear: both;
  padding-left: 30px;
}

.white-back-column{

}

.headline-pop {

}

.top-padding {
  margin-top: 60px;
}

.col-md-12 {
  background-color:rgba(255,255,255,0.7);
}
.col-md-5 {
  background-color:rgba(255,255,255,0.7);

}

.container-fluid {
  background-image: url('/assets/colorful-dusk-sky-above-the-field-14974-web.jpg');
  background-size: cover;
 }

 .data-container {
  padding: 50px;
 }
